<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoBogus" version="2.13.1" targetFramework="net472" />
  <package id="Bogus" version="31.0.3" targetFramework="net472" />
  <package id="CaseExtensions" version="1.1.0" targetFramework="net472" />
  <package id="CommandLineParser" version="2.9.1" targetFramework="net472" />
  <package id="MedallionTopologicalSort" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Pluralize.NET" version="1.0.2" targetFramework="net472" />
  <package id="Sharprompt" version="2.4.5" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
</packages>